numpy~=1.23.4
Flask
gunicorn~=20.1.0
sklearn
pandas~=1.5.2
json
evidently
dill~=0.3.6
matplotlib~=3.6.2
# -e .
zlib~=1.2.13
pillow~=9.3.0
pip~=22.3.1
wheel~=0.37.1
openssl~=1.1.1s
tornado~=6.2
jinja2~=3.1.2
pytz~=2022.7
yaml~=0.2.5
pyyaml~=6.0
markupsafe~=2.1.1
werkzeug~=2.2.2
click~=8.0.4
itsdangerous~=2.0.1
setuptools~=65.5.0
six~=1.16.0
blas~=1.0
python-dateutil~=2.8.2
numexpr~=2.8.4
certifi~=2022.12.7
fonttools~=4.25.0
freetype~=2.12.1
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=22.0
kiwisolver~=1.4.2
python~=3.10.8
readline~=8.2